@import "tailwindcss";
@import "tailwindcss/utilities";
/* @import "tailwindcss/base"; */


html,
body {
  height: 100%;
}

@layer utilities {
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shine {
    animation: shine 0.75s ease-in-out forwards;
  }
}



